:root {
    
  --gradiant-color-from: #0F5B92;
  --gradiant-color-to: #0F5B92;
  --black-color: #101010; 

  --heading: 'DM Sans';
  --body-font: 'DM Sans';  
  --body-color: #666666;  
  --sv-body-color: #202020;  
  --transition: 500ms all ease;
  --main-color: #0F5B92;
  --base-color: #0F5B92;
  --theme-color: #056251;
  --theme-color-2: #FFB966;
  --meta-font: 'Play', sans-serif;
  --main-sv-color: #034b5b;
  --base-sv-color: #f18f20;
  --sv-body-font: 'Montserrat';
  --sv-heading-font: 'Libre Baskerville';
}
